<%= render 'shared/errors', obj: @user %>

<%= form_for (@user) do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Your username..." %>  
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "your email..." %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <% if current_user && current_user.admin %>
  <p>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </p>
  <% end %>
  <p>
    <%= f.submit (@user.new_record? ? "Sign Up":"Update Account")%>
  </p>
<% end %>
  
  