<h1>Users List</h1>
<div style="text-align: center">

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Nº of Devices</th>
      <th>Profile Image</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.cellphones.count %></td>
      <td><%= gravatar_for(user, size:30) %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</br>
<%= link_to "Back Home", root_path %> / <%= link_to "Create new user", signup_path %>
