<h1>Welcome to <%= "#{@user.username}'s" %> page</h1>

<%= gravatar_for(@user, size:150) %>

</br>
<h2><%= "#{@user.username} devices" %></h2>
<%= render 'cellphones/cellphones', obj: @user.cellphones %>

<%= link_to "Back", users_path %>