<h1>List of Cellphones</h1>

<%= will_paginate %>

<%= render 'cellphones', obj: @cellphones %>

<%= will_paginate %>

<%= link_to 'Back Home', root_path %> / <%= link_to 'Add New Phone', new_cellphone_path %>

