<h1> <%= @cellphone.reference %> Data</h1>

Reference:  <%= @cellphone.reference %></br>
OS: <%= @cellphone.os %></br>
Owner: <%= @cellphone.user.username %></br>
Created <%= time_ago_in_words @cellphone.created_at %> ago
</br></br>
<%= link_to "Back to Index", cellphones_path %> / <%= link_to "Edit", edit_cellphone_path(@cellphone) %>